/********************************************************************************************* 
  Mobile First
*********************************************************************************************/

.home{
	.container-home{
		margin: 0;
		overflow: visible;
		position: relative;
		left: 0;
		top: 0;
		width: 100%;
		z-index: 2;
		background: $dark-black;
		min-height: 800px;
		.top-img{
			position: absolute;
			top: 0;
			background: transparent url(../imgs/pb/foto-top.jpg) no-repeat center top;
			background-size: 250%;
			height: 845px;
			width: 100%;
		}
		.intro-text{
			position: relative;
			margin: 15em auto 0 auto;
			z-index: 4;
			width: 100%;
			.logo{
				margin: 0 auto;
				width: 60px;
				height: 60px;
				background: transparent url(../imgs/pb/logo@2x.png) no-repeat center top;
				background-size: 85%;
				z-index: 2;
			}
			h1{
				font: 1.8em $primary-font;
				color: $white;
				text-align: center;
				text-transform: uppercase;
				margin: 5px 0 5px 0;
				letter-spacing: -1px;
			}
			p{
				text-align: center;
				font-family: $secundary-font;
				font-size: 1em;
				color: $secundary-color;
				font-weight: 400;
				margin: 8px 0 24px;
				padding: 0 3em;
			}
			.divisor{
				display: block;
				width: 35px;
				height: 2px;
				margin: 0 auto;
				background: $sections-tittle;
			}
		}
	}
}
section{
	margin-top: $unit_two-em*5;
	z-index: 4;
	position: relative;
	&.toolkit{
		background-color: $dark-grey;
		float: left;
		width: 100%;
		margin-top: 0;
		padding: 9.5em 0;
  		height: auto;
		margin-bottom: 0;
		top: -4px;
	}
	&.work{
		background: $dark-black;
		float: left;
		width: 100%;
		margin-top: 0;
  		padding-top: 7em;
  		top: -2px;
	}
}

.section-legend{
	width: 100%;
	float: left;
	margin-bottom: 2em;
	&.m-fix-3{
		margin-bottom: 3em;
	}
	&.m-fix-4{
		margin-bottom: 4em;
	}
	h6{
		font-style: italic;
		text-align: center;
		font-family: $secundary-font;
		font-size: 0.85em;
		color: $sections-tittle;
		font-weight: 400;
		margin: 0px auto;
	}
	.divisor{
		width: 35px;
		height: 2px;
		position: relative;
		top: 18px;
		margin: 0 auto;
		display: block;
		background: $sections-tittle;
	}
}
.who-am-i{
	float: left;
	padding: 1em;
	color: $white;
	p{
		margin: 4px 0 12px;
		line-height: 29px;
		font-size: .95em;
		a{
			color: $primary-color;
			&:hover{
				text-decoration: underline;
			}
		}
	}
	a{
		&.btn-resume{
			text-transform: uppercase;
			text-align: center;
			font-family: $primary-font;
			font-size: 0.85em;
			border: 1px solid $primary-color;
			padding: 0.7em 1.5em;
			width: 100%;
			height: 46px;
			margin-top: 2em;
			float: left;
			overflow: hidden;
			position: relative;
			color: $primary-color;
			&:hover{
				color: $white;
				background: $primary-color;
			}
		}
	}
}
.speciality-content{
	margin-top: 1.5em;
	float: left;
	li{
		display: block;
		float: left;
		width: 100%;
		margin-bottom: 4.5em;
		text-align: center;
		.icon{
			height: 60px;
			width: 187px;
			margin: 0 auto;
			p{
				margin-top: -4px;
				font-size: 0.95em;
				color: $white;
				text-align: center;
			}
			&.art-direction{
				svg{
					margin-left: 1em;
				}
			}
			&.branding,
			&.web,
			&.visual-design{
				svg{
					margin-left: 0.5em;
				}
			}
		}
		
	}
}
.full-width{
	width: 100%;
	position: relative;
	max-width: 100%;
	margin-top: 3em;
	.first-row{
		float: left;
  		width: 100%;
	}
	.second-row{
		float: left;
  		width: 100%;
  		background-color: black;
	}
}
section{
	&.work{
		a{
			float: left;
			overflow: hidden;
			height: 340px;
			width: 100%;
			position: relative;
			@include transition(false);
			cursor: pointer;
			.work-img{
				background-position: center center;
				background-size: cover;
				background-repeat: no-repeat;
				background-color: $dark-black;
				width: 100%;
				height: 100%;
				@include transition(false);
				@include opacity(.4);
				&.nr-1{
					background-image: url(../imgs/pb/img-wallet.jpg);
				}
				&.nr-2{
					background-image: url(../imgs/pb/img-alertas.jpg);
				}
				&.nr-3{
					background-image: url(../imgs/pb/img-afm.jpg);
				}
				&.nr-4{
					background-image: url(../imgs/pb/img-ca.jpg);
				}
			}
			&.link-external{
				color: $white;
				text-align: center;
				padding-top: 122px;
				background: $dribbble-color;
				@include transition-property(all);
				@include transition-duration(.25s);
				@include transition-timing-function(ease-in-out);
				.icon-dribbble{
					width: 47px;
					height: 46px;
					background: transparent url(../imgs/svg/icon_dribbble.svg) no-repeat 0 0;
					display: block;
					margin: 0 auto 15px;
				}
			}
		}
		.work-desc{
			position: absolute;
			left: 2em;
			top: 7em;
			width: 80%;
			color: $white;
			text-align: center;
			.work-icon{
				display: block;
				margin:0 auto;
				&.wallet{
					background: transparent url(../imgs/svg/icon_wallet.svg) no-repeat 0 0;
					width: 41px;
					height: 36px;
				}
				&.alertas{
					background: transparent url(../imgs/svg/icon_sapo.svg) no-repeat 0 0;
					width: 50px;
					height: 31px;
				}
				&.afm{
					background: transparent url(../imgs/svg/icon_afm.svg) no-repeat 0 0;
					width: 44px;
					height: 44px;
				}
				&.ca{
					background: transparent url(../imgs/svg/icon_ca.svg) no-repeat 0 0;
					width: 36px;
					height: 41px;
				}
			}
			.work-name{
				font-size: 1.5em;
				margin: 4px 0 0px 0;
			}
			p{
				margin:0;
				text-transform: uppercase;
				font-size: 0.75em;
			}
		}
	}
}
.toolkit-container{
	margin-top: 2.5em;
	ul{
		width: 100%;
		margin:0;
		padding: 0 2em;
		float: left;
		li{
			list-style: none;
			width: 50%;
			float: left;
			margin-bottom: 2.5em;
		}
	}
	.tool{
		margin: 0 auto;
		&.kit-1{
			width: 63px;
			height: 63px;
			background: transparent url(../imgs/svg/icon_photoshop.svg) no-repeat 0 0;
		}
		&.kit-2{
			width: 63px;
			height: 63px;
			background: transparent url(../imgs/svg/icon_illustrator.svg) no-repeat 0 0;
		}
		&.kit-3{
			width: 60px;
			height: 65px;
			background: transparent url(../imgs/svg/icon_html.svg) no-repeat 0 0;
		}
		&.kit-4{
			width: 60px;
			height: 66px;
			background: transparent url(../imgs/svg/icon_css.svg) no-repeat 0 0;
		}
		&.kit-5{
			width: 60px;
			height: 66px;
			background: transparent url(../imgs/svg/icon_js.svg) no-repeat 0 0;
		}
		&.kit-6{
			width: 65px;
			height: 65px;
			background: transparent url(../imgs/svg/icon_wordpress.svg) no-repeat 0 0;
		}
	}
}
footer{
	width: 100%;
	height: auto;
	position: relative;
	background: $white;
	z-index: 1;
	padding-bottom: 4em;
	.footer-text{
		position: relative;
		margin: 6em auto 0 auto;
		width: 100%;
		.logo{
			margin: 0 auto;
			width: 60px;
			height: 60px;
			background: transparent url(../imgs/pb/logo@2x.png) no-repeat center top;
			background-size: 100%;
			z-index: 2;
		}
		h2{
			font: 1.5em $secundary-font;
			color: $dark-grey;
			text-align: center;
			margin: 21px 0 0 0;
			font-weight: 400;
		}
		a{
			&.contact{
				text-transform: uppercase;
				text-align: center;
				font-family: $primary-font;
				font-size: 0.9em;
				color: $primary-color;
				margin: 16px auto 17px auto;
				display: block;
				&:hover{
					color: $dark-green-color;
				}
			}
		}
		.divisor{
			display: block;
			width: 35px;
			height: 2px;
			margin: 0 auto;
			background: $grey-color;
		}
	}
	.footer-links{
		margin: 4em auto 0 auto;
		text-align: center;
		li{
			display: inline-block;
			margin: 0 0.8em 1em;
			a{
				text-transform: uppercase;
				text-align: center;
				font-family: $primary-font;
				font-size: 0.75em;
				color: $grey-color;
				display: block;
				letter-spacing: 1px;
				&:hover{
					color: $primary-color;
				}
			}
		}
	}
}


@media screen and (min-width: 380px) and (max-width: 719px) {
	.home{
		.container-home{
			.top-img{
				background-size: 130%;
			}
		}
	}
}


/********************************************************************************************* 
  720px+
*********************************************************************************************/

@media (min-width: 720px) {
	.home{
		.container-home{
			.top-img{
				background-size: 120%;
			}
			.intro-text{
				h1{
					font: 3em $primary-font;
				}
				p{
					font-size: 1.1em;
				}
			}
		}
	}
	.who-am-i{
		padding: 1em 4em;
		p{
			margin-bottom: 20px;
			line-height: 35px;
			font-size: 1.1em;
		}
		a{
			&.btn-resume{
				width: 221px;
				margin-left: 1px;
			}
		}
	}
	.speciality-content{
		padding-left: 8%;
		li {
			width: 45%;
			&:last-child{
				display: none;
			}
		}
	}
	.full-width{
		.first-row{
	  		width: 100%;
		}
		.second-row{
	  		width: 100%;
		}
	}
	section{
		&.work{
			.work-desc{
				width: 85%;
			}
			a{
				width: 50%;
				&.link-external{
					width: 100%;
					height: 200px;
					padding-top: 57px;
				}
			}
		}
	}
	.toolkit-container{
		ul{
			li{
				width: 16%;
			}
		}
	}
}
	
/********************************************************************************************* 
  1024px+
*********************************************************************************************/

@media only screen and (min-width: 1024px) {

}
	

/********************************************************************************************* 
  1200px+
*********************************************************************************************/

@media only screen and (min-width: 1200px) {


.home{
	.container-home{
		margin: 0 0 630px;
		.top-img{
			background-size: cover;
		}
		.intro-text{
			margin: 24.3em auto 0 auto;
			width: 60%;
			.logo{
				background-size: 100%;
			}
			h1{
				font: 4em $primary-font;
				margin: 13px 0 0 0;
			}
			p{
				font-size: 1.2em;
			}
		}
	}
}

section{
	&.toolkit{
		padding-top: 7.5em;
		height: 535px;
		margin-bottom: 550px;
	}
}

.section-legend{
	width: 50%;
	float: left;
	margin-left: -10px;
	margin-bottom: 0;
  	h6{
  		padding-left: 0;
  		text-align: left;
  	}
	.divisor{
		width: 35px;
		left: 0;
		margin-left: 0;
	}
}
.who-am-i{
	padding: 2.5em 10em 0 0;	
	margin-left: -10px;
	font-size: .95em;
	p{
		line-height: 34px;
	}
	a{
		&.btn-resume{
			width: 175px;
			height: 44px;
		}
	}
}

.speciality-content{
	margin-top: 1em;
	margin-left: -10px;
	padding-left: 0;
	li{
		display: inline-block;
		width: 32%;
		text-align: left;
		&:last-child{
			display: block;
		}
		.icon{
			margin: 0;
			p{
				text-align: left;
			}
			&.art-direction{
				svg{
					margin-left: 0;
				}
			}
			&.branding,
			&.web,
			&.visual-design{
				svg{
					margin-left: 0;
				}
			}
		}
	}
}

section{
	&.work{
		a{
			width: 100%;
			@include transition-property(all);
			@include transition-duration(.25s);
			@include transition-timing-function(ease-in-out);
			.work-img{
				background-size: cover;
				@include opacity(1);
				@include scale(1);
				@include transition-property(all);
				@include transition-duration(.25s);
				@include transition-timing-function(ease-in-out);
			}
			&.link-external{
				padding-top: 130px;
				background-color: $dark-grey;
				height: 340px;
				&:hover{
					background: $dribbble-color;
				}
			}
			.mobile-mask{
				display: none;
			}
			.work-desc{
				bottom: 2em;
				.work-icon{
					margin-left: 0;
					text-align: left;
					position: absolute;
					bottom: 65px;
					bottom: -85px;
					@include opacity(0);
					@include transition-property(bottom, opacity);
					@include transition-duration(.25s);
					@include transition-timing-function(ease-in-out);
				}
				.work-name{
					margin-left: 0;
					text-align: left;
					position: absolute;
					bottom: 22px;
					bottom: -85px;
					@include opacity(0);
					@include transition-property(bottom, opacity);
					@include transition-duration(.25s);
					@include transition-timing-function(ease-in-out);
					@include transition-delay(.1s);
				}
				p{
					margin-left: 2px;
					text-align: left;
					position: absolute;
					bottom: 0px;
					bottom: -85px;
					@include opacity(0);
					@include transition-property(opacity);
					@include transition-duration(.25s);
					@include transition-timing-function(ease-in-out);
					@include transition-delay(.15s);
				}
			}
			&:hover{
				.work-img{
					@include opacity(.4);
					@include transition-timing-function(ease-in-out);
					@include scale(1.1);
				}
				.work-desc{
					bottom: 2em;
					.work-icon{
						bottom: 65px;
						@include opacity(1);
					}
					.work-name{
						bottom: 22px;
						@include opacity(1);
					}
					p{
						bottom: 0px;
						@include opacity(1);
						@include transition-property(bottom);
					}
				}
			}
		}
	}
}

.no-lm{
	margin-left: -5px;
}
.reset-lm{
	margin-left: 0px;
}

.pad-0{
	padding: 0 !important;
}

.gd-pos-1{
	float: left;
	width: 29%;
	padding: 1px;
}
.gd-pos-2{
	float: left;
	width: 38%;
}
.gd-pos-3{
	float: left;
	width: 33%;
}

.toolkit-container{
	margin-top: 2.5em;
	ul{
		padding: 0;
		li{
			width: auto;
			margin-right: 40px;
		}
	}
	.tool{
		margin: 0;
	}
}

footer{
	height: 550px;
	position: fixed;
	left: 0;
	bottom: 0;
	.footer-text{
		h2{
			font: 2em $secundary-font;
		}
	}
	.footer-links{
		margin: 5em auto 0 auto;
		li{
			margin: 0 0.8em;
		}
	}
}

// SVG Icons


// #icon_strategy{
// 	.anim-el-1,
// 	.anim-el-2{
// 		display: none;
// 	}
// }
// #icon_digital-experiences{
// 	.anim-el{
// 		display: none;
// 	}
// }
// #icon_branding{
// 	.anim-el-1,
// 	.anim-el-2{
// 		display: none;
// 	}
// }
// #icon_ux-ui-design{
// 	.anim-el{
// 		display: none;
// 	}
// }
// #icon_interaction{
// 	.anim-el{
// 		display: none;
// 	}
// }
// #icon_concept-work{
// 	.anim-el-1,
// 	.anim-el-2{
// 		display: none;
// 	}
// }
// #icon_web{
// 	.anim-el{
// 		display: none;
// 	}
// }
// #icon_visual-design{
// 	.anim-el-1,
// 	.anim-el-2{
// 		display: none;
// 	}
// }

}  // min-width: 1200px







